* {
	margin: 0px;
	padding: 0px;
}

body {
	color: #778899;
	font-family: Batang;
	font-size: 25px;
}

header {
	text-align: center;
}

form {
	background: #f1f1f1; 
	width: 470px; 
	margin:0 auto; 
	padding-left: 50px; 
	padding-top: 20px;
}

input {
	height: 30px;
}

#name, #email, #password, #repassword {
	width: 400px;
}

label { 
	color: #000; 
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica; 
}

fieldset {
	border: 1px solid; 
	padding: 0px; 
	margin:0px;
}

#submit { 
	background: #A52A2A;
	color: #FFFFFF;
	border-radius: 5px;
	position: relative; 
	cursor: pointer; 
	font-size: 10px;
	padding: 10px;
}
#submit:hover { 
	background-color: #778899; 
}



